/* Wow content blocks */
html {
	width: 100%;
	overflow-x: hidden;
}
body {
	margin: 0;
	color: #333;
	width: 100%;
	overflow-x: hidden;
}
#view {
	position: relative;
	padding: 20px 5%;
	width: 90%;
	overflow-x: hidden;
}
header {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 720px;
}
main {
	display: block;
	margin: 0 auto;
	max-width: 720px;
	position: relative;
	z-index: 1;
}
footer {
	display: block;
	margin: 60px auto 0;
        max-width: 720px;
	position: relative;
	z-index: 1;
}
/* Such text styling */
h1, h2, h3, h4 {font-weight: normal;}
h1 {
	font-size: 58px;
	margin-bottom: 0;
}
h2 {
	margin-bottom: 60px;
}
h3 {
	font-size: 35px;
	margin: 60px 0 0 0;
}
h4 {
	margin-bottom: 21px;
}
h2, h4 {
	font-size: 21px;
	margin-top: 0;
}
p {
	font-size: 18px;
	line-height: 34px;
}
.boring header .wow {opacity: 0;}
.boring h1, .boring h4 {
	font-family: 'AzoSans-Thin', sans-serif;
	font-weight: 300;
}
.boring h2, .boring h3 {
	font-family:  'MayonezlBold', serif;
	
}
.boring p {
	font-family: 'AzoSans-Regular', sans-serif;
	font-weight: 300;
}

.boring .dogeonly, .boring .wow {display: none;}

a, a:visited {
	color: #BA0322; 
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}
ul {padding: 0;}
li {list-style-type: none; position: relative;}
.green {color: #0f0;}
.red {color: #f06;}
.yellow {color: #fc0}
.blue {color: #009999;}
.purple {color: #8400c7;}
.fuchsia {color: #f06;}
.lightpurp {color: #cb2cff;}
span {display: none;}
/* very doge */
.doge .boringonly {display: none;}
.dogetoggle {
	position: absolute;
	top: 0;
	right: -130px;
}
.boringtoggle {
	position: absolute;
	top: 1em;
	right: 20px; 
	z-index: 1;
}
.doge .dogetoggle {
	display: none;
}
.doge {
	position: relative;
	text-transform: lowercase;
	font-family: 'Comic Sans MS', 'ComicSans';
	color: #fff;
	background: rgba(255, 174, 194, 1);
	background: -moz-linear-gradient( top ,
          rgba(255, 102, 102, 1) 0%,
          rgba(128, 130, 255, 1) 15%,
          rgba(0, 255, 0, 1) 30%,
          rgba(0, 255, 255, 1) 50%,
          rgba(0, 0, 255, 1) 65%,
          rgba(255, 0, 255, 1) 80%,
          rgba(255, 0, 0, 1) 100%);
	background: -webkit-gradient(linear,  left top,  left bottom, 
          color-stop(0%, rgba(255, 102, 102, 1)), 
          color-stop(25%, rgba(128, 130, 255, 1)),
          color-stop(50%, rgba(103, 255, 255, 1)),
          color-stop(70%, rgba(134, 255, 126, 1)),          
          color-stop(80%, rgba(255, 255, 107, 1)),          
          color-stop(90%, rgba(255, 235, 124, 1)),          
	  color-stop(100%, rgba(255, 174, 194, 1)));
	height: 100%;
	/*background-attachment: fixed;*/
}
.doge:after {
	background-image: url('/img/colorshibe.png');
	content: "";
	width: 418px;
	height: 420px;
	position: absolute;
	bottom: 0px;
	left: -50px;
	z-index: 0;
}
.doge:before {
	background-image: url('/img/topdoge.png');
	width: 250px;
	height: 217px;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.doge main {
	text-align: center;
}
.doge header {
	max-width: 1000px;
}
.doge main p, .doge main h4 {display: none;}

.doge h1 {
	text-align: left;
	font-size: 54px;
}
.doge h1:before {
	content: "wow much designer";
	display: block;
	color: #222;
	font-size: 30px;
}
.doge h3 {margin-top: 120px;}
.wow {
	position: absolute;
	display: inline;
	font-size: 16px;
}

header .wow {display: none;}
.doge span {
}
.doge a, .doge a:visited {
	color: blue; 
	text-decoration: underline;
}
.doge footer {
	text-align: center;
}

#wow0 {top: 50px; left: 5%;}
#wow1 {left: 10%; top: 100px;}
#wow2 {left: 50%; top: 85px;}
#wow3 {right: 0; bottom: 88px;}
#wow4 {left: 5%; bottom: 23px;}
#wow5 {right: 55%; bottom: 99px;}
#wow6 {right: 10%; bottom: 165px;}
#wow7 {right: 235px; bottom: 62px;}
#wow8 {left: 0%; top: 120px;}
#wow9 {right: 5%; bottom: 15px;}

.hidden-xs {display: none;}
@media all and (min-width: 480px) {
	.hidden-xs {display: block;}
	.doge h1:before {
		font-size: 40px;
	}
	#wow0 {top: 50px; left: 5%;}
	#wow1 {left: 25%; top: 50px;}
	#wow2 {left: 50%; top: 115px;}
	#wow3 {right: 0; bottom: 88px;}
	#wow4 {left: 5%; bottom: 23px;}
	#wow5 {right: 55%; bottom: 99px;}
	#wow6 {right: 10%; bottom: 165px;}
	#wow7 {right: 115px; bottom: 62px;}
	#wow8 {left: 0%; top: 130px;}
	#wow9 {right: 5%; bottom: 15px;}
}
@media all and (min-width: 761px) {
        .doge h1:before {
                font-size: 40px;
        }
	#wow0 {top: 55px; left: 0%;}
	#wow1 {left: 15%; top: 45px;}
	#wow2 {left: 50%; top: 135px;}
	#wow3 {left: 320px; bottom: 88px;}
	#wow4 {left: 20%; bottom: 23px;}
	#wow5 {right: 20%; bottom: 25px;}
	#wow6 {right: 2%; bottom: 97px;}
	#wow7 {right: 115px; bottom: 90px;}
	#wow8 {left: 0%; top: 150px;}
	#wow9 {right: 5%; bottom: 0px;}
}

@media all and (min-width: 1100px) {
	.doge h1 {
		font-size: 78px;
	}
	#wow0 {top: 50px; left: 5%;}
	#wow1 {left: 10%; top: 70px;}
	#wow2 {left: 37%; top: 65px;}
	#wow3 {left: 550px; bottom: 15px;}
	#wow4 {left: 30%; bottom: 30px;}
	#wow5 {right: 25%; bottom: 140px;}
	#wow6 {right: 10%; bottom: 120px;}
	#wow7 {right: 235px; bottom: 62px;}
	#wow8 {left: 5%; top: 140px;}
	#wow9 {right: 5%; bottom: -10px;}
}
/*** Webfonts ***/
@font-face {font-family: 'AzoSans-LightItalic';src: url('webfonts/29F20F_0_0.eot');src: url('webfonts/29F20F_0_0.eot?#iefix') 
format('embedded-opentype'),url('webfonts/29F20F_0_0.woff') format('woff'),url('webfonts/29F20F_0_0.ttf') format('truetype');}
@font-face {font-family: 'AzoSans-Regular';src: url('webfonts/29F20F_1_0.eot');src: url('webfonts/29F20F_1_0.eot?#iefix') 
format('embedded-opentype'),url('webfonts/29F20F_1_0.woff') format('woff'),url('webfonts/29F20F_1_0.ttf') format('truetype');}
@font-face {font-family: 'AzoSans-Thin';src: url('webfonts/29F20F_2_0.eot');src: url('webfonts/29F20F_2_0.eot?#iefix') 
format('embedded-opentype'),url('webfonts/29F20F_2_0.woff') format('woff'),url('webfonts/29F20F_2_0.ttf') format('truetype');}
@font-face {font-family: 'MayonezlBold';src: url('webfonts/29F232_0_0.eot');src: url('webfonts/29F232_0_0.eot?#iefix') 
format('embedded-opentype'),url('webfonts/29F232_0_0.woff') format('woff'),url('webfonts/29F232_0_0.ttf') format('truetype');}
@font-face {font-family: 'ComicSans';src: url('webfonts/29F2DB_0_0.eot');src: url('webfonts/29F2DB_0_0.eot?#iefix') 
format('embedded-opentype'),url('webfonts/29F2DB_0_0.woff') format('woff'),url('webfonts/29F2DB_0_0.ttf') format('truetype');}
